body{
	margin: 0px;
	padding: 0px;
	background-color: hsl(185, 75%, 39%);
	font-size: 18px;
	font-family: 'Kumbh Sans', sans-serif;
	background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: right 53vw top -81vh, left 45vw top 50vh;

}
.carre{
	position: absolute;
	border-radius: 10px;
	background: white;
    width: 350px;
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width: 100%;
}

.circle img {
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
  	left:50%;
  	right:50%;
  	transform: translate(-50%, -50%);
}


.info {
	position: absolute;
	width: 100%;
	height: 85px;
	display: flex;
	padding-top: 4px;
	align-items: center;
	justify-content: space-around; 
	border-top:1px solid hsl(0, 0%, 80%);
	bottom: 0px;
}
.stat {
	text-align: center;
	font-weight: 700;
}

.type {
	text-align: center;
	font-size: 0.7em;
	color: rgb(118,118,120);
	padding-top: 6px;
}

.profile{
	text-align: center;
	padding-top: 75px;
}
.name {
	font-weight: bold; 

}
.age, .city {
	color: rgb(118,118,120);
}

.city {
	padding-top: 14px;
	font-size :0.7em;
}

.attribution {
	font-size: 11px; 
	text-align: center;
	position: relative;
	top: 600px;
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}

